<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>vat.valid</title>
</head>
<body>
<div class="jumbotron text-center">
    <h1>VAT Number Validator</h1>
    <div id="app"></div>
<!-- built files will be auto injected -->
</div>
</body>
</html>
