<template>
    <div>
        <div>
            <label for="countrySelection">Select a Country:</label><br>
            <select v-model="selectedCountry" id="countrySelection" class="browser-default custom-select">
                <option v-for="country in countries" :key="country.code" :value="country.code">
                    {{country.name}}
                </option>
            </select>
        </div>
        <div><br>
            <label for="vatInput">VAT Number:</label><br>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text" id="countryCodeBox">{{selectedCountry}}</div>
                </div>
                <input type="text" v-model="vatNumber" id="vatInput" class="form-control">
            </div>
        </div>
        <br>
        <button v-on:click="verifyVAT()" class="btn btn-primary" id="verifyButton"> Verify</button>
    </div>
</template>

<script>
    import {EventBus} from '../main.js';

    export default {
        name: 'InputComponent',

        data() {
            return {
                selectedCountry: 'EE',
                vatNumber: undefined,
                countries: []
            }
        },

        created() {
            this.axios.get('https://vat.erply.com/rates')
                .then(response => {
                    this.countries = response.data.rates;
                })
                .catch(error => {
                    alert('an error occured ' + error);
                });
        },

        methods: {
            verifyVAT: function() {
                let paramValue = this.selectedCountry + this.vatNumber;

                this.axios.get('https://vat.erply.com/numbers?vatNumber=' + paramValue)
                    .then(responseData => {
                        EventBus.$emit('response', responseData.data);
                    })
                    .catch(error => {
                        alert('an error occured ' + error);

                    });
            }
        }
    }
</script>