<template>
    <div>
        <table class="table" id="resultTable">
            <tbody>
            <tr>
                <th scope="row">Is Valid VAT Number?</th>
                <td v-bind:style="[vatResponseInfo.Valid ? {'color':'green'} : {'color':'red'}]">
                    {{vatResponseInfo.Valid ? 'YES': 'NO'}}</td>
            </tr>
            <tr>
                <th scope="row">Member State</th>
                <td>{{vatResponseInfo.CountryCode}}</td>
            </tr>
            <tr>
                <th scope="row">VAT Number</th>
                <td>{{vatResponseInfo.VATNumber}}</td>
            </tr>
            <tr>
                <th scope="row">Date requested</th>
                <td>{{vatResponseInfo.RequestDate}}</td>
            </tr>
            <tr>
                <th scope="row">Name</th>
                <td>{{vatResponseInfo.Name}}</td>
            </tr>
            <tr>
                <th scope="row">Address</th>
                <td> {{vatResponseInfo.Address}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import {EventBus} from '../main.js';

    export default {
        name: 'ResultTable',

        data() {
            return {vatResponseInfo: {}}
        },

        mounted() {
            EventBus.$on('response', responseData => {
                this.vatResponseInfo = responseData;
            })
        }
    }
</script>

