<template>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div id="app">
                    <InputComponent/>
                    <br>
                    <ResultTable/>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</template>

<script>
    import ResultTable from './components/ResultTable.vue'
    import InputComponent from './components/InputComponent'

    export default {
        name: 'app',
        components: {
            InputComponent,
            ResultTable
        }
    }
</script>

